footer {
  background: url('../../assets/images/bg.png');	
  background-repeat: repeat;
  padding-bottom: 5px;
  
  .foot-wrap {
    width: calc(100% - #{$sidebar-width});
    max-width: $max-width;
    
    //tablet-ish
    @media only screen and (max-width:900px)  {
      width: 100%;
    }
  }
  
  table {
    width: 70%;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 1.5em;

    font-size: .85em;
    @extend .mate;

    tr {
      td {
        a {
          color: $text-secondary-color;

          &:hover {
              color: $text-color;	
          }
        }
      }
    }

    .logo img {
      width: 150px;	
      opacity: 1;
      transition: all 250ms ease-in-out;
      &:hover {
          opacity: .7;	
      }
    }
    
     @media only screen and (max-width:900px) {
       width: calc(100% - 40px);
       tr td {
         vertical-align: bottom;
       }  
     }
    
    @media only screen and (max-width:500px) {
       tr {
          display: none;
         &:first-child {
            display: table-row; 
           td {
            min-width: 40%;
           }
         }
       }
     }
  }
}