.wp-pagenavi {
  margin-top: 5em;
  text-align: right;
  vertical-align: bottom;
  span {
    border: none;
    
    &.pages {
      font-size: .65em;
      margin-right: 5px;
    }
    
    &.current {
      font-size: 1em; 
    }
  }
  
  a {
    border: none;
    font-size: 1em; 
    
    &:hover {
      background-color: rgba(203, 203, 203, 0.44); 
    }
  }
}
