.container {
  width: 100vw !important; 
}

[role=document] {
  margin-top: $header-height; 
  @media only screen and (max-width:450px) {
    margin-top: $header-small-height; 
  }
}

main {
  z-index: 20;	
  background: url('../../assets/images/bg.png');	
  background-repeat: repeat;
  padding: 40px 0px 60px 0px;
  position: relative;
  width: 100% !important;
  .main-wrapper {
    max-width: $max-width;
  }
  
  // small tablet and mobile phone
  @media only screen and (max-width:600px) {
    padding-top: $mobile-sidebar-height;
  }
  
   @media only screen and (max-width:700px) and (min-width:500px) {
    padding-bottom: 40px;
   }
  
  @media only screen and (max-width:500px) {
    padding-bottom: 20px;
   }
  
}

.main-container {
  margin: 0;
  max-width: none;
  min-height: 750px;
  background-color: rgba(255, 255, 255, .8);
  z-index: 20;
  width: calc(100% - #{$sidebar-width});
  color: $text-color;
  
  //tablet-ish
  @media only screen and (max-width:900px) and (min-width:600px) {
    width: calc(100% - #{$sidebar-small-width});
  }
  
  // small tablet and mobile phone
  @media only screen and (max-width:600px) {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
}

.main-content {
	min-height: 300px;	
	padding: 60px;
    padding-bottom: 30px;
  
   @media only screen and (max-width:600px) {
      padding: 20px; 
   }
}