// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #f4f1f1;;

// Text Colors
$text-header-color: #f4f1f1;
$text-header-secondary-color: #c3c3c3;

$text-color: #4b4b4b;
$text-secondary-color: rgba(75, 75, 75, 0.7);


// Background Colors
$background-trans-color: rgba(36,36,36, .4);
$background-trans-color-dark: rgba(36,36,36, .6);

//Sizes
$max-width: 1600px;
$sidebar-width: 200px;
$sidebar-small-width: 150px;
$mobile-sidebar-height: 55px;
$header-height: 250px;
$header-small-height: 175px;
